{% extends 'main.html' %} {% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
<table summary="no_orderDate">
  <tr>
    <th>Hora de Chegada sentido T</th>
    <th>Estacao</th>
    <th>Hora Chegada sentido CS</th>
    {% for x in metros %}
  </tr>

  <tr>
    <td>{{ x.tempoChegada2 }}</td>
    <td>{{ x.stop_id }}</td>
    <td>{{ x.tempoChegada1 }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
