{% extends 'main.html' %} {% block content %}
<style>
    table {
        border-collapse: collapse;
        margin-left: 300px;
        margin-right: 300px;
        text-align: center;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    tr:nth-child(even){background-color: #6998AB;}
    tr:nth-child(odd){background-color: #B1D0E0;}
    tr:hover {background-color: rgb(218, 251, 255);}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #152D35;
        color: white;
        text-align: center;
    }
</style>
<table>
  <tr>
    <th>{{sentido1}}</th>
    <th>Estacao</th>
    <th>{{sentido2}}</th>
</tr>

{% for x in metros %}
  <tr>
    <td>{{ x.tempoChegada2 }}</td>
    <td>{{ x.nome }}</td>
    <td>{{ x.tempoChegada1 }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
